APP_DISPLAY_NAME = YPadel: Счет и статистика
APP_BUNDLE_IDENTIFIER = com.example.ypadel
WIDGET_BUNDLE_IDENTIFIER = com.example.ypadel.widget
NOTIFICATION_SERVICE_BUNDLE_IDENTIFIER = com.example.ypadel.notification-service
NOTIFICATION_CONTENT_BUNDLE_IDENTIFIER = com.example.ypadel.notification-content
APP_GROUP_IDENTIFIER = group.com.example.ypadel
APPMETRICA_API_KEY =
